previewsEnabled: true
services:
  ## Explorer frontend
  - type: web
    name: frontend
    env: node
    plan: starter plus
    repo: https://github.com/near/near-explorer.git
    buildCommand: cd frontend && npm clean-install && npm run build
    startCommand: cd frontend && npm run start
    healthCheckPath: /api/ping
    envVars:
      - key: NEAR_EXPLORER_CONFIG__SSR_WAMP__HOST
        fromService:
          type: web
          name: wamp
          property: host
      - key: NEAR_EXPLORER_CONFIG__WAMP__HOST
        fromService:
          type: web
          name: wamp
          envVarKey: RENDER_EXTERNAL_HOSTNAME
      - key: NEAR_EXPLORER_CONFIG__WAMP__BACKEND_SECRET
        fromService:
          type: web
          name: wamp
          envVarKey: NEAR_EXPLORER_CONFIG__BACKEND_SECRET
      - key: NEAR_EXPLORER_CONFIG__SSR_WAMP__BACKEND_SECRET
        fromService:
          type: web
          name: wamp
          envVarKey: NEAR_EXPLORER_CONFIG__BACKEND_SECRET

      - fromGroup: frontend

      - key: NEAR_EXPLORER_CONFIG__GOOGLE_ANALYTICS
        value: UA-100373569-14
      - key: NEAR_EXPLORER_CONFIG__NETWORKS
        value: |
          [
            {
              "name": "mainnet",
              "explorerLink": "https://explorer.near.org/",
              "aliases": ["explorer.near.org", "explorer.mainnet.near.org", "explorer.nearprotocol.com", "explorer.mainnet.nearprotocol.com"],
              "lockupAccountIdSuffix": "lockup.near",
              "nearWalletProfilePrefix": "https://wallet.near.org/profile"
            },
            {
              "name": "testnet",
              "explorerLink": "https://explorer.testnet.near.org/",
              "aliases": ["explorer.testnet.near.org", "explorer.testnet.nearprotocol.com"],
              "nearWalletProfilePrefix": "https://wallet.testnet.near.org/profile"
            },
            {
              "name": "guildnet",
              "explorerLink": "https://explorer.guildnet.near.org/",
              "aliases": ["explorer.guildnet.near.org"],
              "nearWalletProfilePrefix": "https://wallet.openshards.io/profile"
            }
          ]

  ## Explorer WAMP
  - type: web
    name: wamp
    env: docker
    plan: pro
    previewPlan: starter
    dockerfilePath: ./wamp/Dockerfile
    dockerContext: ./wamp
    repo: https://github.com/near/near-explorer.git
    envVars:
      - key: NEAR_EXPLORER_CONFIG__BACKEND_SECRET
        generateValue: true

  ## Explorer backend [mainnet]
  - type: worker
    name: backend/mainnet
    env: node
    repo: https://github.com/near/near-explorer.git
    buildCommand: cd backend && npm clean-install && npm run build
    startCommand: cd backend && npm run start
    envVars:
      - key: NEAR_EXPLORER_CONFIG__WAMP__HOST
        fromService:
          type: web
          name: wamp
          property: host
      - key: NEAR_EXPLORER_CONFIG__WAMP__BACKEND_SECRET
        fromService:
          type: web
          name: wamp
          envVarKey: NEAR_EXPLORER_CONFIG__BACKEND_SECRET

      - fromGroup: backend
      - fromGroup: backend/mainnet
      - fromGroup: backend/mainnet/secret

  ## Explorer backend [testnet]
  - type: worker
    name: backend/testnet
    env: node
    repo: https://github.com/near/near-explorer.git
    buildCommand: cd backend && npm clean-install && npm run build
    startCommand: cd backend && npm run start
    envVars:
      - key: NEAR_EXPLORER_CONFIG__WAMP__HOST
        fromService:
          type: web
          name: wamp
          property: host
      - key: NEAR_EXPLORER_CONFIG__WAMP__BACKEND_SECRET
        fromService:
          type: web
          name: wamp
          envVarKey: NEAR_EXPLORER_CONFIG__BACKEND_SECRET

      - fromGroup: backend
      - fromGroup: backend/testnet
      - fromGroup: backend/testnet/secret

  ## Explorer backend [guildnet]
  - type: worker
    name: backend/guildnet
    env: node
    repo: https://github.com/near/near-explorer.git
    buildCommand: cd backend && npm clean-install && npm run build
    startCommand: cd backend && npm run start
    envVars:
      - key: NEAR_EXPLORER_CONFIG__WAMP__HOST
        fromService:
          type: web
          name: wamp
          property: host
      - key: NEAR_EXPLORER_CONFIG__WAMP__BACKEND_SECRET
        fromService:
          type: web
          name: wamp
          envVarKey: NEAR_EXPLORER_CONFIG__BACKEND_SECRET

      - fromGroup: backend
      - fromGroup: backend/guildnet
      - fromGroup: backend/guildnet/secret

envVarGroups:
  - name: frontend
    envVars:
      - key: NEAR_EXPLORER_CONFIG__WAMP__SECURE
        value: true
      - key: NEAR_EXPLORER_CONFIG__SSR_WAMP__SECURE
        value: false
      - key: NEAR_EXPLORER_CONFIG__WAMP__PORT
        value: 443
      - key: NEAR_EXPLORER_CONFIG__SSR_WAMP__PORT
        value: 10000
  - name: backend
    envVars:
      - key: NEAR_EXPLORER_CONFIG__WAMP__SECURE
        value: false
      - key: NEAR_EXPLORER_CONFIG__WAMP__PORT
        value: 10000
  - name: backend/mainnet
    envVars:
      - key: NEAR_EXPLORER_CONFIG__NETWORK_NAME
        value: mainnet
      - key: NEAR_EXPLORER_CONFIG__ARCHIVAL_RPC_URL
        value: https://archive-internal-rpc.mainnet.near.org/

      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_HOST
        value: 34.78.19.198
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_NAME
        value: indexer_analytics_mainnet
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_USERNAME
        value: public_readonly
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_PASSWORD
        value: nearprotocol

      - key: NEAR_READ_ONLY_TELEMETRY_DATABASE_HOST
        value: 34.78.19.198
      - key: NEAR_READ_ONLY_TELEMETRY_DATABASE_NAME
        value: telemetry_mainnet
  - name: backend/testnet
    envVars:
      - key: NEAR_EXPLORER_CONFIG__NETWORK_NAME
        value: testnet
      - key: NEAR_EXPLORER_CONFIG__ARCHIVAL_RPC_URL
        value: https://archive-internal-rpc.testnet.near.org/

      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_HOST
        value: 35.241.197.241
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_NAME
        value: indexer_analytics_testnet
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_USERNAME
        value: public_readonly
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_PASSWORD
        value: nearprotocol

      - key: NEAR_READ_ONLY_TELEMETRY_DATABASE_HOST
        value: 35.241.197.241
      - key: NEAR_READ_ONLY_TELEMETRY_DATABASE_NAME
        value: telemetry_testnet
  - name: backend/guildnet
    envVars:
      - key: NEAR_EXPLORER_CONFIG__NETWORK_NAME
        value: guildnet
      - key: NEAR_EXPLORER_CONFIG__ARCHIVAL_RPC_URL
        value: https://rpc.openshards.io

      - key: NEAR_READ_ONLY_INDEXER_DATABASE_HOST
        value: 159.89.46.95
      - key: NEAR_READ_ONLY_INDEXER_DATABASE_NAME
        value: guildnet_explorer
      - key: NEAR_READ_ONLY_INDEXER_DATABASE_USERNAME
        value: public_readonly
      - key: NEAR_READ_ONLY_INDEXER_DATABASE_PASSWORD
        value: nearprotocol

      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_HOST
        value: 35.205.19.192
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_NAME
        value: indexer_analytics_guildnet
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_USERNAME
        value: public_readonly
      - key: NEAR_READ_ONLY_ANALYTICS_DATABASE_PASSWORD
        value: nearprotocol

      - key: NEAR_READ_ONLY_TELEMETRY_DATABASE_HOST
        value: 35.205.19.192
      - key: NEAR_READ_ONLY_TELEMETRY_DATABASE_NAME
        value: telemetry_guildnet
